@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --bg-color: #fafafa;
  --font-color: #1f1f1f;
  --border-color: #cccccc;
  --border-focus-color: #414141;
  --bg-book-color: #bda199;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--font-color);
  padding: 30px;
}

button {
  cursor: pointer;
  transition: transform 0.15s ease-out;
  box-shadow: 1px 2px 0 rgb(0 0 0 / 0.05);
}

button:active {
  transform: scale(0.98);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  font-size: 2.1rem;
}

#add-book {
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background-color: rgb(204, 255, 248);
  padding: 2px 10px;
}

#add-book:hover {
  opacity: 0.8;
}

#books-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.book__card {
  padding: 14px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  box-shadow: 1px 2px 0 rgb(0 0 0 / 0.05);
  width: 200px;
  height: 300px;
}

.book__card h2 {
  text-wrap: balance;
  text-align: center;
  margin-bottom: 10px;
  background-color: var(--bg-book-color);
  width: 100%;
  border-radius: 3px;
}

.book__card p {
  font-size: 0.875rem;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  margin-top: 10px;
}

.delete-btn {
  border: 1px solid red;
  border-radius: 6px;
  color: red;
  background-color: rgb(255, 204, 204);
  padding: 2px 10px;
}

.delete-btn:hover {
  opacity: 0.8;
}

.change-btn {
  border: 1px solid green;
  border-radius: 6px;
  color: green;
  background-color: rgb(213, 255, 204);
  padding: 2px 10px;
}

.change-btn:hover {
  opacity: 0.8;
}

dialog {
  padding: 20px;
  position: absolute;
  inset: 0;
  margin: auto;
  border: 1px solid var(--border-color);
  border-radius: 6px;
}

.close-dialog {
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: bold;
  cursor: pointer;
}

dialog h2 {
  text-align: center;
  margin: 10px 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form label {
  margin-bottom: 0;
}

.form input {
  padding: 0 0 0 6px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
}

.form input::placeholder {
  font-size: 0.9rem;
}

.form input:focus {
  outline: none;
  border: 1px solid var(--border-focus-color);
}

.form fieldset {
  border: 1px solid var(--border-color);
  border-radius: 6px;
  margin-bottom: 10px;
}

.form textarea {
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 2px 0 0 4px;
  resize: none;
  margin-bottom: 10px;
}

.form textarea::placeholder {
  font-size: 0.9rem;
}

.form textarea:focus {
  outline: none;
  border: 1px solid var(--border-focus-color);
}

.opinion-text {
  background-color: #cccccc;
  padding: 8px;
  border-radius: 6px;
  margin-top: 6px;
  overflow: auto;
  text-wrap: balance;
  max-height: 80px;
}

.error {
  background-color: rgb(255, 229, 229);
  border-radius: 6px;
  color: rgb(255, 33, 33);
  padding: 0;
}

.error.active {
  padding: 0 4px;
}
